@charset "utf-8";

#sdi-tag-list {
    font-size: 110%;
}

    #sdi-tag-list > ul, ol {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1.5em;
        padding: 0;
    }
